In [1]:
'''
Topics: 
- Exceptional handling
- File handling
- List , dictionary & set comprehension
- Classes & Object

'''

'\nTopics: \n- Exceptional handling\n- File handling\n- List , dictionary & set comprehension\n- Classes & Object\n\n'

In [2]:
# List comprehension
#create 2 list containing with 
l1=[1,2,3,4,5,6,7]
l2=[3,6,7,9,8,11,13]

l3=[data for data in l1 if data in l2]
print(l3)

[3, 6, 7]

In [3]:
l1=['John','Mayank','Aman']
l1=[data.upper() for data in l1]

l2=['john','Ram','mayank']
l2=[data.upper() for data in l2]
l3=[data.upper() for data in l1 if data in l2 ]
print(l3)

['JOHN', 'MAYANK']

In [7]:
s1={data for data in l1}
s2={data for data in l2}
print(s1.intersection(s2))
s3={data for data in s1.intersection(s2)}
print(s3)

{'MAYANK', 'JOHN'}
{'MAYANK', 'JOHN'}

In [21]:
studentName=["Mayank","Raj","varun"]
AgeList=[20,25,18]
d={studentName[i]:AgeList[i] for i in range(len(studentName))}
print(type(d),d)

<class 'dict'> {'Mayank': 20, 'Raj': 25, 'varun': 18}

In [32]:

d={k:v for k,v in sorted(d.items(),key=lambda x :x[1])}
print(d)

{'varun': 18, 'Mayank': 20, 'Raj': 25}

In [15]:
l=[2,4,6,8]
l2=[data**4 for data in l]
print(l2)

[16, 256, 1296, 4096]

In [ ]:

'''
Q.: to convert a number into binary , hexadecimal and octal 

'''
def binary_conversion(num):
    return bin(num)
def octal_conversion(num):
    return oct(num)

def hexadecimal_conversion(num):
    return hex(num)
    
def conversion():
    n=int(input("enter a number :"))
    b=binary_conversion(n)
    o=octal_conversion(n)
    h=hexadecimal_conversion(n)
    print("Binary Equivalent :",b)
    print("Octal Equivalent :",o)
    print("Hexadecimal equivalent :",h)

# conversion()

In [56]:
'''
class

'''

class studentInfo:
  s=10
  name="Lokesh"
  def student_role(self):
    if self.s>5:
      return "late admission"
    else:
      pass



obj1=studentInfo()
obj1.s=16
print(obj1.student_role())

late admission