In [ ]:
'''
Topics
  functional programming 
  parameter vs argument
  lambda function
  passing argument to function
  problem solving skills
  interview questions
'''

In [ ]:
s={1,2,3,5,6,3,4,5,3,2,1}
s= frozenset(s)
print(type(s))

<class 'frozenset'>

In [ ]:
'''
Functions
block of statement => write logic => to perform or call multiple number of time

def functionname ():
  statements

advantages:
  - code reuseability
  - large program => small blocks
  - 
'''

In [ ]:
def greeting():
  print("Hey user, Welcome!")

In [ ]:
greeting()

Hey user, Welcome!

In [ ]:
'''
to swap two numbers without using 3rd variable
'''

x=10
y=20

x=x+y
y=x-y
x=x-y

print(x,y)

20 10

In [ ]:
def swapNumber(num1,num2):
  return num2,num1

x=10
y=20

print("before swap",x,y)
x,y=swapNumber(x,y)
print("After swap :",x,y)

before swap 10 20
After swap : 20 10

In [ ]:
'''
in function we pass the data based on call by object reference 
immutable data => in function any variable with same reference make the changes , changes are done in new memory for the variables inside the functions 
                  original data will remain same 
'''

def listMultiply(listData):
  print(listData*2)
  listData[0]=1897
mylist=[10,20,30]
listMultiply(mylist)
print(mylist)

[10, 20, 30, 10, 20, 30]
[1897, 20, 30]

In [ ]:
'''
Q. to take a list value and create its cube if it is a integer number and make the changes for the original index 
'''

def cubeCalc(listData):
  for i in range(len(listData)):
    if type(listData[i]) is int:
      listData[i]=listData[i]**3

mylist=[1,2,3,4,5,6]
print("actual list: ",mylist)
cubeCalc(mylist)
print("cube of list: ",mylist)

actual list:  [1, 2, 3, 4, 5, 6]
cube of list:  [1, 8, 27, 64, 125, 216]

In [ ]:
'''
program to find LCM of 2 numbers
'''

def calcLCM(num1,num2):
  d=max(num1,num2)
  while(not(d%num1==0 and d%num2==0)):
    d=+1
  print("LCM is :",d)

x=int(input("enter first value :"))
y=int(input("enter second value :"))
calcLCM(x,y)

enter first value :27
enter second value :30

KeyboardInterrupt: ignored

In [ ]:
'''
program to find GCD of 2 numbers
'''

def calcGCD(num1,num2):
  d=min(num1,num2)
  while(not(num1%d==0 and num2%d==0)):
    d=d-1
  print("GCD is :",d)

x=int(input("enter first value :"))
y=int(input("enter second value :"))
calcGCD(x,y)

enter first value :27
enter second value :15
GCD is : 3

In [ ]:
'''
Q.: create a function which takes an parameter of string type
    - accept the string in case if the string contains vowels(a,e,i,o,u)
    - accept the string in case if we have vowels in even position of data
'''

def strCheck(mystring):
  newstring=mystring.lower()
  if 'a' in newstring or 'e' in newstring or 'i' in newstring or 'o' in newstring or 'u' in newstring:
    print("String Accepted")
  else:
    print("not accepted")

mystring=input("enter a string :")
strCheck(mystring)

enter a string :futurense
String Accepted

In [ ]:
def strCheck(mystring):
  newstring=mystring.lower()
  flag=0
  for index in range(0,len(newstring),2):
    if 'a'== newstring[index] or 'e'==newstring[index] or 'i'== newstring[index] or 'o' == newstring[index] or 'u' == newstring[index]:
      pass
    else:
      flag=1
      break
  for index in range(1,len(newstring),2):
    if 'a'== newstring[index] or 'e'==newstring[index] or 'i'== newstring[index] or 'o' == newstring[index] or 'u' == newstring[index]:
      flag=1
      break
  
  if flag==1:
    print("String Rejected")
  else:  
    print("String accepted")


mystring=input("enter a string :")
strCheck(mystring)

enter a string :odisas
String accepted

In [ ]:
# types of argument
'''
Required argument:
                required fixed number of arguments to be pass when calling the function
positional argumet:
                position of argument should be on proper position in function call
Keyword argument:
                pass values in key value format to specify the exact position
positional + keyword:

default argument:
                provided at function declaration only
variable length argument

positional + variable length

keyword variable length




'''

In [ ]:
def find_gcd(x, y):
    while(y):
        x, y = y, x % y
    return x

In [ ]:
'''
program to find LCM of n numbers
'''

def find_lcm(n,*args):
  mylist=list(args)[0]
  mul=1
  for val in mylist:
    mul=mul*val
  return mul/n

In [ ]:
x=input("enter values :")
x=x.split(",")
x=[int(val) for val in x]
gcd=find_gcd(x[0],x[1])
for i in range(2,len(x)):
  gcd=find_gcd(gcd,x[i])
print("GCD is :",gcd)
lcm=find_lcm(gcd,x)
print("LCM is :",lcm)

enter values :1,2,3,4,5
GCD is : 1
LCM is : 120.0

In [ ]:
'''
first class function vs high order function
'''

def number_add(x):
  print(x)
def new_function(out, data ):
  print("hey inside the newFunc",out)
  data()

new_function("lokesh",number_add(10))

10
hey inside the newFunc lokesh

TypeError: ignored

In [ ]:
'''
first class function vs high order function
'''

def number_add(x):
  print(x)
def new_function(out, data ):
  print("hey inside the newFunc",out)
  data(out)

new_function("lokesh",number_add)

In [ ]:
'''
first class function vs high order function
'''

def number_add(x):
  print(x)
  return number_add
def new_function(out, data ):
  print("hey inside the newFunc",out)
  data(out)

new_function("lokesh",number_add(10))

10
hey inside the newFunc lokesh
lokesh

In [ ]:
'''
Lambda functions => these are called as anonymous function
                    they don't have a name
                    created with lambda keyword
                    to make reable 
                    also known as inline function or oneline function
                    lambda parameter : expression
                    parameter => multiple 
                    expression => only 1
                    return the expression value

'''
out=lambda x : x+10

In [ ]:
out(20)

30

In [ ]:
val=list(map(lambda x:x**2,range(1,10)))
print(val)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
val=list(map(lambda x:x[0],['hey','hello']))
print(val)

['h', 'h']

In [ ]:
val=list(map(lambda x: x.split(" "),['hey','hello']))
print(val)

[['hey'], ['hello']]

In [ ]:
val=tuple(filter(lambda x: x[0]%2==0,[(10,3),(4,3),(1,7)]))
print(val)

((10, 3), (4, 3))

In [ ]:
val=dict(filter(lambda x: x[0]%2==0,[(10,3),(4,3),(1,7)]))
print(val)

{10: 3, 4: 3}

In [ ]:
mylist=[{"name":"Lokesh","marks":[70,40,50]},{"name":"prateek","marks":[60,40,50]},{"name":"rajesh","marks":[20,40,30]}]

In [ ]:
(lambda x: x+20)(20)

40

In [ ]:
for val in mylist:
  print(val["marks"])

[70, 40, 50]
[60, 40, 50]
{'name': 'Lokesh', 'marks': [70, 40, 50]}

In [ ]:
'''
create a lambda function that will calculate the average of the marks
'''

<>:5: SyntaxWarning: 'generator' object is not callable; perhaps you missed a comma?
<>:5: SyntaxWarning: 'generator' object is not callable; perhaps you missed a comma?
<ipython-input-159-6e2a91508e46>:5: SyntaxWarning: 'generator' object is not callable; perhaps you missed a comma?
  (lambda mylist:sum(key["marks"]) for key in mylist ) (mylist)

TypeError: ignored

In [ ]:
(lambda x : sum(x)/len(x))([10,20,30])

20.0

In [ ]:
mydict={"avg":(lambda x : sum(x)/len(x))}

In [ ]:
mydict["avg"]([10,20,30])

20.0

In [ ]:
mydict["minmarks"]=lambda x: min(x) 
mydict["maxmarks"]=lambda x: max(x)

In [ ]:
mydict["minmarks"]([10,20,30])

10

In [ ]:
mydict["maxmarks"]([10,20,30])

30

In [ ]:
'''
create a lambda function to get the table of any number
'''

st="\n".join(list(map(lambda x: str(2*x),range(1,11))))
print(st,type(st))

2
4
6
8
10
12
14
16
18
20 <class 'str'>

In [ ]:
num = [int(input("Enter a number: "))]

# let's create our lambda function for the table
table = list(map(lambda x, y: x * y, list(range(1, 11)), num *10))

print(table)

Enter a number: 5
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
st=[]
n=5
for num in range(2,n):
  st=[]
  for val in range(1,11):
    st.append(str(num*val))
print(st)

['4', '8', '12', '16', '20', '24', '28', '32', '36', '40']