**Training - Python**

bit.ly/3la7Wly

**python** is 
  simple
  dynamic typed 


variables:
mutuable : dictionary , list , set
immutable : int , float , string , tuple ,

In [ ]:
print("Hello world",end="-")
print ("welcome to python")

Hello world-welcome to python

In [ ]:
age=100
print(age, id(age))

100 9796256

In [ ]:
print(age, id(age))
print(type(age))

18 9793632
<class 'int'>

In [ ]:
name="LOkesh Kumar"
print(type(name))

<class 'str'>

In [ ]:
age = 18
print(age,id(age))

18 9793632

In [ ]:
mynumber=18
print(mynumber,id(mynumber))

18 9793632

**Call by object reference**
age= 100
age -> variable object of int class , memory address

In [ ]:
#commenting 
print("single line comment in python")

single line comment in python

In [ ]:
'''
 multi 
line 
comment 
'''
print("multi line comment ")

multi line comment

In [ ]:
address= """ street 
area 
city
"""
print ( address)

 street
area
city

Formatting the string

In [ ]:
myuser ="Lokesh Kumar"
email="lokeshkumar@futurensetech.com"
company ="Futurense"
print("hey my company is",company , "and email is : ", email)

hey my company is Futurense and email is :  lokeshkumar@futurensetech.com

In [ ]:
print(f"hey my company is {company} and my email id is {email}")

hey my company is Futurense and my email id is lokeshkumar@futurensetech.com

In [ ]:
username= "Lokesh"
greeting=f"hey user {username}"
print(greeting)
username="mayank"
print(greeting)

hey user Lokesh
hey user Lokesh

In [ ]:
print("hey user {}".format(username))

hey user mayank

In [ ]:
print("hey user {}".format("jeet"))

hey user jeet

In [ ]:
print("hey user {} , mail id is {}".format("jeet","jeet@gmail.com"))

hey user jeet , mail id is jeet@gmail.com

In [ ]:
print("hey user {1} , mail id is {0}".format("jeet","jeet@gmail.com"))

hey user jeet@gmail.com , mail id is jeet

In [ ]:
print("hey user {1} , mail id is {1}".format("jeet","jeet@gmail.com"))

hey user jeet@gmail.com , mail id is jeet@gmail.com


assignment :
use the formating for convering the floating number into string

In [ ]:
num=3.14
print(type(num))

mystring= f"{num}"
print( type(mystring))
print(mystring)

<class 'float'>
<class 'str'>
3.14

**Operators**

'''
symbol=> functionary 

1+2 => +  1,2 operator 

arithmetic 
assignment
comparison
logical operator
bitwise 
 
'''

In [ ]:
20/6

3.3333333333333335

In [ ]:
20//6

3

In [ ]:
2**3

8

In [ ]:
20%3

2

In [ ]:
2*3//2*5/2-2

5.5

priority order arithmetic

** exponent  ( OOE - right to left )
/ * // % * (order of execution - left to right)
+ -  least priority OOE - left to right

In [ ]:
2**3**2

512

In [ ]:
#Assignment 

#literal 
x=10
x=x+5 # right side expression 
x

15

In [ ]:
x+=5
x

20

In [ ]:
# comparison 

x= 10 

if x==10 :
  print("True")
y=10
if x==y:
  print(y)

True
10

In [ ]:
# logical operator 

# to check the condition 
age =10
salary = 1000

if age==10 and salary==1000:
  print("True")

True

In [ ]:
not(age)

False

In [ ]:
# Bitwise operator 

'''
8421 
    8421
7   0111
13  1101
----------
&   0101
|   1111

'''

In [ ]:
7|13

15

In [ ]:
7&13

5

In [ ]:
#left and right shift 
'''
128 64 32 16 8 4 2 1
0   0   0  0 1 0 1 1
right shift
0 0 0 0 0 1 0 1

left shift
0 0 0 0 10110

'''

In [ ]:
11>>1

5

In [ ]:
11<<1

22

In [ ]:
31>>2

7

In [ ]:
11<<2

44

In [ ]:
# Bitwise XOR

In [ ]:
# membership and identity 

"b" in "bangalore"

True

In [ ]:
"B" not in "bangalore"

True

In [ ]:
# identity => it validate whether an object belongs to a class or not 

x=10
print(type(x))

<class 'int'>

In [ ]:
type(x) is int

True

In [ ]:
type(x) is not str

True

In [ ]:
x=10
y=10
x is y

True

In [ ]:
x=[1,2,3]
y=[1,2,3]
x is y

False

In [ ]:
'''
string slicing 
conditional statement 
looping statement 
program 
'''

In [ ]:
#slicing 

'''
extracting the portion from a data ( string )
string : sequential collection of characters
position to define - index

BANGALORE
012345678
'''

'\nextracting the portion from a data ( string )\nstring : sequential collection of characters\nposition to define - index\n\nBANGALORE\n012345678\n'

In [ ]:
city="bengalore"

In [ ]:
print(city[0])

b

In [ ]:
print(city[::-1])

erolagneb

In [ ]:
print(city[0:3])

ben

In [ ]:
print(city[-1:-4:1])

In [ ]:
print(city[-4:5])

In [ ]:
print(city[-4:5:-1])

In [ ]:
# If- else condition

'''
if condition:
  execute statement 

else:
  execute statement
'''

'\nif condition:\n  execute statement \n\nelse:\n  execute statement\n'

In [ ]:
'''
find the prime number from 1 to 100
'''
for val in range(2,100):
  flag=0
  for j in range(2,val//2+1):
    if val%j==0:
      flag = 1
      break
  if flag ==0:
    print ("Prime number :", val)

Prime number : 2
Prime number : 3
Prime number : 5
Prime number : 7
Prime number : 11
Prime number : 13
Prime number : 17
Prime number : 19
Prime number : 23
Prime number : 29
Prime number : 31
Prime number : 37
Prime number : 41
Prime number : 43
Prime number : 47
Prime number : 53
Prime number : 59
Prime number : 61
Prime number : 67
Prime number : 71
Prime number : 73
Prime number : 79
Prime number : 83
Prime number : 89
Prime number : 97

In [ ]:
counttotal=int(input("enter total prime numbers you want: "))
k=count=1
while(count<=counttotal):
  flag=0
  k=k+1
  for j in range(2,k//2+1):
    if k%j==0:
      flag=1
      break
  if flag==0:
    print("{} prime number is {}".format(count,k))
    count+=1

enter total prime numbers you want: 10
1 prime number is 2
2 prime number is 3
3 prime number is 5
4 prime number is 7
5 prime number is 11
6 prime number is 13
7 prime number is 17
8 prime number is 19
9 prime number is 23
10 prime number is 29

**Day 2 - Python Programming**

In [ ]:
'''
Topics to be covered:
    loops
    data types we have in python
    list 
    tuples
    dictionary

'''

'\nTopics to be covered:\n    \n\n'

In [ ]:
#list 

'''
list is the collection of sequential value , list is a mutable data type
list have the index position ( but memory value are not continuous )

''' 
mylist=[1,2,3,4]
print(mylist, type(mylist))

[1, 2, 3, 4] <class 'list'>

In [ ]:
mylist[0]

1

In [ ]:
mylist[-1]

4

In [ ]:
mylist[0:3]=[100,200,300,400]

In [ ]:
mylist.extend("Hey")
mylist

[100, 200, 300, 400, 4, 'H', 'e', 'y']

In [ ]:
mylist.extend(['hey',10,1000])
mylist

[100, 200, 300, 400, 4, 'H', 'e', 'y', 'hey', 10, 1000]

In [ ]:
mylist.insert(1,"hello")
mylist

[100, 'hello', 'hello', 200, 300, 400, 4, 'H', 'e', 'y', 'hey', 10, 1000]

In [ ]:
mylist.sort()
mylist

TypeError: ignored

In [19]:
mylist.pop()

1000

In [20]:
del mylist[0]

In [21]:
mylist

['hello', 'hello', 200, 300, 400, 4, 'H', 'e', 'y', 'hey', 10]

In [53]:
'''
Q1. take an input from the user and check the data based on the following condition :
    the data should be of string data type 
    the length of the input should lie in the range from 6 to 15  character in length 
    the input should have at least 1 capital letter ( A to Z):
    1 smaller alphabet 
    1 number ( 0 - 9)
    1 special character (# @ $ %)

in case any of the condition is not valid ask for the input from the user upto 4 times , otherwise exit the program by putting a message input give is wrong
[Note]: we don't have to use any input library or using regular expression or re or isnumeric()or isalphabet() like this 


Q2. to launch an ec2 instance with python, (MAY USE -BOTO3 LIBRARY)
'''

flag=0
while(flag<5):
  flag=0
  n=input("enter a string :")
  if len(n)>=6 and len(n)<=15:
    flag+=1
  for ch in n:
    if ord(ch)>=65 and ord(ch)<=90:
      flag+=1
    if ord(ch)>=97 and ord(ch)<=122:
      flag+=1
    if ord(ch)>=48 and ord(ch)<57 :
      flag+=1
    if ord(ch)>=35 and ord(ch)<=38 :
      flag+=1
  if flag==5:
    print("Entered string accepted")
  print(flag)

enter a string :ddfec
Entered string accepted
5

In [62]:
'''
Q1. take an input from the user and check the data based on the following condition :
    the data should be of string data type 
    the length of the input should lie in the range from 6 to 15  character in length 
    the input should have at least 1 capital letter ( A to Z):
    1 smaller alphabet 
    1 number ( 0 - 9)
    1 special character (# @ $ %)

in case any of the condition is not valid ask for the input from the user upto 4 times , otherwise exit the program by putting a message input give is wrong
[Note]: we don't have to use any input library or using regular expression or re or isnumeric()or isalphabet() like this 


Q2. to launch an ec2 instance with python, (MAY USE -BOTO3 LIBRARY)
'''

flag=0
while(flag<5):
  flag=flag1=flag2=flag3=flag4=flag5=0
  n=input("enter a string :")
  if len(n)>=6 and len(n)<=15:
    flag1=1
  for ch in n:
    if ord(ch)>=65 and ord(ch)<=90:
      flag2=1
    if ord(ch)>=97 and ord(ch)<=122:
      flag3=1
    if ord(ch)>=48 and ord(ch)<57 :
      flag4=1
    if (ord(ch)>=35 and ord(ch)<=38) or ord(ch)==64 :
      flag5=1
  flag=flag1+flag2+flag3+flag4+flag5
  if flag==5:
    print("Entered string accepted")

enter a string :sdefdcf@s1
enter a string :xcdfcA@dv2
Entered string accepted

In [42]:
'''
Q. create a list containing multiple data types , in case if the element is of string data type , then try to delete the element from list other wise create the square of that number
'''

mylist=["abs","akjs",1,2,3,5,"asas",]
newlist=[]
for val in mylist:
  if type(val) is str:
     pass
  else:
    newlist.append(val**2)

print(newlist)

[1, 4, 9, 25]

In [28]:
# Tuple

'''
is sequential collection of elements having the index position

'''

mytuple=10,'abc'
print(type(mytuple))

<class 'tuple'>

mytuple=10,

> Indented block


print(mytuple, type(mytuple))

In [63]:
# Dictionary 

'''
a data type where we store the associated data with some identifier
identifier will be unique
data can be duplicated
'''

mydictionary={}

print(type(mydictionary))

<class 'dict'>

In [64]:
# dictionary has no index position 
mydictionary={"name":"Lokesh Kumar","age":23,"email":"lokeshkumarfuturensetech.com"}
print(mydictionary)

{'name': 'Lokesh Kumar', 'age': 23, 'email': 'lokeshkumarfuturensetech.com'}

In [67]:
mydictionary['salary']=7

In [68]:
mydictionary

{'name': 'Lokesh Kumar',
 'age': 23,
 'email': 'lokeshkumarfuturensetech.com',
 'salary': 7}

In [ ]:
#  dictionary are mutable unordered collections of key value pair

mydictionary.

In [ ]:
'''
Q.: difference between zip and enumate method
'''

In [134]:
def sort_sublists(input_list):
    result = [sorted(x, key = lambda x:x[0]) for x in input_list] 
    return result
color1 = [["green", "orange"], ["black","red" ,"white","pink"], ["white", "black", "orange"]]
print("\nOriginal list:")
print(color1)  
print("\nAfter sorting each sublist of the said list of lists:")
print(sort_sublists(color1))

Original list:
[['green', 'orange'], ['black', 'red', 'white', 'pink'], ['white', 'black', 'orange']]

After sorting each sublist of the said list of lists:
[['green', 'orange'], ['black', 'pink', 'red', 'white'], ['black', 'orange', 'white']]

In [69]:
# Sets

'''
unordered collection of data types and all the elements in the set to be unique
'''

myset=set({})
print(type(myset))

<class 'set'>

In [ ]:
myset={1,2,3,5,6}

In [75]:
myset=set("lokesh")
myset

{'e', 'h', 'k', 'l', 'o', 's'}

In [76]:
myset=set([1,2,3,4])
myset

{1, 2, 3, 4}

In [ ]:
'''
Q: perform union , difference , is disjoint , issuperset and symmetric_difference_update 

'''

In [90]:
set1={1,2,5,6,4,8,11}
set2={1,6,10,3,9,12,5}
set3={1,5,6}
set4={7,19,27}

print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set2.difference(set1))
print(set1.isdisjoint(set2))
print(set1.isdisjoint(set4))

print(set1.issuperset(set2))
print(set1.issuperset(set3))

print(set1.symmetric_difference(set2))
print(set1.symmetric_difference_update(set2))
print(set1)

{1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12}
{1, 5, 6}
{8, 2, 11, 4}
{9, 10, 3, 12}
False
True
False
True
{2, 3, 4, 8, 9, 10, 11, 12}
None
{2, 3, 4, 8, 9, 10, 11, 12}

In [108]:
myt=(1,2,[4,5,6])
myt[-1][1]=2
print(myt)

(1, 2, [4, 2, 6])

In [124]:
l1=[1,2,3,89]
l2=[6,4,5,78,67]
m=dict(zip(l1,l2))
for ite in m:
  print(ite,type(ite))
print(type(m))
d=dict(m)
print(d)

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
89 <class 'int'>
<class 'dict'>
{1: 6, 2: 4, 3: 5, 89: 78}

In [ ]:
'''
Topics for tommorow
  functional programming 
  parameter vs argument
  lambda function
  passing argument to function
  problem solving skills
  interview questions
'''

In [123]:
l=[(1,'a'),(2,'b'),(3,'c')]
d=dict(l)
print(d)

{1: 'a', 2: 'b', 3: 'c'}

In [131]:

s={1,2,3,4,5,6,7,8}

for val in s:
  print(val)
  if 5== val:
   print("found")

1
2
3
4
5
found
6
7
8