In [3]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [2]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     --------------------------------------- 43.8/43.8 kB 86.1 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [6]:
data={'RollNo':[1,2,3,4],"Name":["Lokesh","sunil","Anil","Kunal"]}
df=pd.DataFrame(data)

In [7]:
df

   RollNo    Name
0       1  Lokesh
1       2   sunil
2       3    Anil
3       4   Kunal

In [9]:
engine=create_engine('mysql+pymysql://root:root@localhost/project')